* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: rgb(233, 233, 233);
}
.title {
  
  font-size: 3rem;
  margin: 1rem 0 0 2.5rem;
}

.container {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 100vh;
}

.content-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 2rem;
  margin-top: 5rem;
}

.filter-container {
  width: 35rem;
  height: 100vh;
  background-color: #fff;
  text-align: center;
  padding: 2rem;
  margin: 5rem auto;
}
.filter-container h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.filter-container h1 {
  font-size: 2rem;
}

.list {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 1rem;
margin: 1rem 0;
}
.list button {
  width: 5rem;
  height: 3rem;
  margin: 0 auto;
  cursor: pointer;
}
/* card */

.card-container {
  background-color: #fff;
  width: 20rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 0.2rem solid black;
}
.card-container img {
  width: 16rem;
  margin-top: 1rem;
}

.text-content {
  width: 100%;
  padding: 1rem;
}
.text-content h3, .text-content h4 {
  margin: 1rem 0;
}

.active {
  background-color: green;
}

